In [252]:
import pandas as pd

In [253]:
csv = pd.read_csv('movies_2.csv')
csv.head()
df = pd.DataFrame(csv)

In [254]:
df.shape

(616, 11)

In [255]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [256]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [257]:
df.isnull().sum()

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [258]:
# This was very important because I could only drop by converting to DataFrame. 
df = df.drop(columns='Summary')

In [259]:
df = df.rename(str.lower, axis=1)
df = df.rename(columns={'movieid':'movie_id', 'mpaa rating':'mpaa_rating', 'release date':'release_date', 'rating count':'rating_count'})
df

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
# This is confusing so better I used df.info()
print(df.isna().value_counts())

movie_id  title  mpaa_rating  budget  gross  release_date  genre  runtime  rating  rating_count
False     False  False        False   False  False         False  False    False   False           508
                                                                           True    True            107
          True   True         True    True   True          True   True     True    True              1
Name: count, dtype: int64

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      616 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [262]:
df = df.fillna({'rating':df['rating'].median()}, inplace=True)

In [264]:
df.info

AttributeError: 'NoneType' object has no attribute 'info'

In [ ]:
df.dropna()

AttributeError: 'NoneType' object has no attribute 'dropna'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      616 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

# Show the movies with more than 7 in Rating & greater than 50 million Gross

In [ ]:
ratingandgross = df[(df['Rating'] > 7) & (df['Gross'] > 50000000.0)]
print(ratingandgross[['Title', 'Rating', 'Gross']])
print('-----')
ratingandgross.count()

KeyError: 'Rating'

# Show the movies with more than 7 in Rating & greater than 50 million Gross & MPAA Rating as PG

In [ ]:
ratingandgrossandMPAA = df[(df['Rating'] > 7) & (df['Gross'] > 50000000.0) & (df['MPAA Rating'] == 'PG')]
print(ratingandgrossandMPAA[['Title', 'Rating', 'Gross', 'MPAA Rating']])
print('-----')
print(ratingandgrossandMPAA.count())

                                        Title  Rating         Gross  \
1                          Driving Miss Daisy     7.4  1.457933e+08
2                              Turner & Hooch     7.2  7.107992e+07
4                             Field of Dreams     7.5  8.443162e+07
7                          Dead Poets Society     8.1  2.358601e+08
13                                     Batman     7.5  4.113489e+08
15                         The Little Mermaid     7.6  2.223000e+08
16                 Back to the Future Part II     7.8  3.320000e+08
19                            Steel Magnolias     7.3  9.590409e+07
24                                 Home Alone     7.6  4.766847e+08
32                   The Hunt for Red October     7.6  1.992000e+08
34                Back to the Future Part III     7.4  2.445276e+08
45            Teenage Mutant Ninja Turtles II     8.0  7.860000e+07
46                       Beauty and the Beast     8.0  3.773506e+08
49     Star Trek VI: The Undiscovered Country     7.2  9.690000e+07
72                      A League of Their Own     7.2  1.074588e+08
80                              Groundhog Day     8.0  7.090697e+07
106                    Star Trek: Generations     8.5  1.200000e+08
126                        Mr. Holland's Opus     7.3  1.062700e+08
130                                 Apollo 13     7.6  3.552379e+08
174                                   Contact     7.4  1.711203e+08
185                           The Truman Show     8.1  2.641182e+08
188                       The Prince of Egypt     7.1  2.186132e+08
215                                    Tarzan     7.3  4.480000e+08
220                       Remember the Titans     7.8  1.367067e+08
241                                     Shrek     7.8  4.844092e+08
255     Harry Potter and the Sorcerer's Stone     7.6  9.751000e+08
261                                   Ice Age     7.5  3.832571e+08
270   Harry Potter and the Chamber of Secrets     7.4  8.766885e+08
304                           The Incredibles     8.0  6.314421e+08
309  Harry Potter and the Prisoner of Azkaban     7.9  7.898046e+08
311                                   Shrek 2     7.2  9.198388e+08
385                             Kung Fu Panda     7.5  6.317446e+08
410                        Monsters vs Aliens     7.7  3.815099e+08
411                                        Up     8.2  7.350991e+08
415    Harry Potter and the Half-Blood Prince     7.6  9.339592e+08
420                             Despicable Me     7.6  5.435140e+08
425                                  Megamind     7.2  3.218872e+08
428                  How to Train Your Dragon     8.1  4.948788e+08
435                                   Tangled     7.7  5.917949e+08
447          Puss in Boots: The Three Diablos     7.8  5.550000e+08
451                           Kung Fu Panda 2     7.2  6.656923e+08
461                        Hotel Transylvania     7.1  3.583756e+08
466                            Wreck-It Ralph     7.7  4.712229e+08
468                                     Brave     7.1  5.389832e+08
480                           Despicable Me 2     7.4  9.707619e+08
484                                The Croods     7.2  5.851789e+08
485                                    Frozen     7.5  1.274219e+09
498                            The Lego Movie     7.8  4.691607e+08
503                How to Train Your Dragon 2     7.8  6.091230e+08
505                                Big Hero 6     7.8  6.521054e+08

    MPAA Rating
1            PG
2            PG
4            PG
7            PG
13           PG
15           PG
16           PG
19           PG
24           PG
32           PG
34           PG
45           PG
46           PG
49           PG
72           PG
80           PG
106          PG
126          PG
130          PG
174          PG
185          PG
188          PG
215          PG
220          PG
241          PG
255          PG
261          PG
270          PG
304          PG
309          PG
311          PG
385          PG
410          PG
411          PG
415          PG
420          PG
425          PG
428          PG
435          PG
447          PG
451          PG
461          PG
466          PG
468          PG
480          PG
484          PG
485          PG
498          PG
503          PG
505          PG
-----
MovieID         50
Title           50
MPAA Rating     50
Budget          50
Gross           50
Release Date    50
Genre           50
Runtime         50
Rating          50
Rating Count    50
Summary         48
dtype: int64

# Show the count of Animation movies with more than 7 in Rating (use the shape() method)

In [ ]:
df[((df['Genre'] == 'Animation') & (df['Rating'] > 7))].count()

MovieID         39
Title           39
MPAA Rating     39
Budget          39
Gross           39
Release Date    39
Genre           39
Runtime         39
Rating          39
Rating Count    39
Summary         36
dtype: int64

# Show the top 5 movies based on Budget

In [ ]:
df.sort_values('Budget', ascending=False).head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,NaN,NaN,NaN
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,NaN,NaN,NaN
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0,"Captain Barbossa, Will Turner and Elizabeth Sw..."

# Show the top 5 Comedy movies by Rating

In [ ]:
# csv.sort_values('Budget', ascending=False).head(5)

# csv[('Genre' == 'Comedy')].sort_values('Rating', ascending=False)

#csv_new = csv.sort_values('Rating', ascending=False)
#csv_new[('Genre' == 'Comedy')]

#csv_new = csv[('Genre' == 'Comedy')].sort_values(['Genre', 'Rating'], ascending=False)
#csv_new.head(20)


# Reference csv[((csv['Genre'] == 'Animation') & (csv['Rating'] > 7))].count()


df_new = df[(df['Genre'] == 'Comedy')].sort_values(['Genre', 'Rating'], ascending=False)
df_new[['Title', 'Genre', 'Rating']].head(5)

                    Title   Genre  Rating
111          Forrest Gump  Comedy     8.8
185       The Truman Show  Comedy     8.1
80          Groundhog Day  Comedy     8.0
254        Monsters, Inc.  Comedy     8.0
40   Fried Green Tomatoes  Comedy     7.7

# Top 5 movie names by Rating

In [ ]:
df_new2 = df.sort_values('Rating', ascending=False)
df_new2[['Title', 'Rating']].head()

                                             Title  Rating
393                                The Dark Knight     9.0
98                               Jurassic Park III     8.9
287  The Lord of the Rings: The Return of the King     8.9
99                                    Pulp Fiction     8.9
83                                Schindler's List     8.9

TEST

# Top 3 high Gross Romance movies released after 1999 (typecast it to datetime)

In [ ]:
pd.to_datetime(df['Release Date'])

0     1989-10-12
1     1989-12-13
2     1989-07-28
3     1989-12-20
4     1989-04-21
         ...
611   2019-06-11
612   2019-07-13
613   2019-07-09
614   2019-04-22
615          NaT
Name: Release Date, Length: 616, dtype: datetime64[ns]