In [290]:
import pandas as pd

In [291]:
csv = pd.read_csv('movies_2.csv')
csv.head()
df = pd.DataFrame(csv)

In [292]:
df.shape

(616, 11)

In [293]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [294]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

# Finding amount of Null Values

In [295]:
df.isnull().sum()

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

# Drop Column

In [296]:
# This was very important because I could only drop by converting to DataFrame. 
df = df.drop(columns='Summary')

# Rename columns lowercase

In [297]:
df = df.rename(str.lower, axis=1)
df = df.rename(columns={'movieid':'movie_id', 'mpaa rating':'mpaa_rating', 'release date':'release_date', 'rating count':'rating_count'})
df

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Finding Nan Values again

In [298]:
# This is confusing so better I used df.info()
print(df.isna().value_counts())

movie_id  title  mpaa_rating  budget  gross  release_date  genre  runtime  rating  rating_count
False     False  False        False   False  False         False  False    False   False           508
                                                                           True    True            107
          True   True         True    True   True          True   True     True    True              1
Name: count, dtype: int64

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      616 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

# Replacing Nan values in rating for median

In [300]:
# When I used df = ... it would then not allow me to use df.info()
df.fillna({'rating':df['rating'].median()}, inplace=True)

In [301]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      616 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        616 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

# Replacing Nan values in rating_count for median

In [302]:
df.fillna({'rating_count':df['rating_count'].median()}, inplace=True)

In [303]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      616 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        616 non-null    float64
 9   rating_count  616 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

# I still have 1 Nan on almost each category, sometimes even on genre, whcih means I cannot create a math equation
# like .mean(), so I will now drop those values.

In [304]:
# when to use df = ... and when not to?

df = df.dropna()

In [305]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        615 non-null    float64
 9   rating_count  615 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 52.9+ KB

# Turning Float into int

In [306]:
print(df['budget'])

# I had to do df budget = df... 
df['budget'] = df['budget'].astype(int)

0        7500000.0
1        7500000.0
2       13000000.0
3       14000000.0
4       15000000.0
          ...
610    200000000.0
611    200000000.0
612    200000000.0
613    250000000.0
614    356000000.0
Name: budget, Length: 615, dtype: float64

/var/folders/pm/7vn7thz14p556cr_ql9w5xbw0000gn/T/ipykernel_55405/2655150809.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget'] = df['budget'].astype(int)

In [307]:
df['budget']

0        7500000
1        7500000
2       13000000
3       14000000
4       15000000
         ...
610    200000000
611    200000000
612    200000000
613    250000000
614    356000000
Name: budget, Length: 615, dtype: int64

In [308]:
df['gross'] = df['gross'].astype(int)

/var/folders/pm/7vn7thz14p556cr_ql9w5xbw0000gn/T/ipykernel_55405/4243391415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gross'] = df['gross'].astype(int)

In [309]:
df['gross']

0       296000000
1       145793296
2        71079915
3       161001698
4        84431625
          ...
610     385900000
611    1062000000
612     759400000
613    1632000000
614    2796000000
Name: gross, Length: 615, dtype: int64

# Setting Datetime

In [310]:
df['release_date'] = pd.to_datetime(df['release_date'])

/var/folders/pm/7vn7thz14p556cr_ql9w5xbw0000gn/T/ipykernel_55405/1525507706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_date'] = pd.to_datetime(df['release_date'])

In [311]:
df['release_date']

0     1989-10-12
1     1989-12-13
2     1989-07-28
3     1989-12-20
4     1989-04-21
         ...
610   2019-05-13
611   2019-06-11
612   2019-07-13
613   2019-07-09
614   2019-04-22
Name: release_date, Length: 615, dtype: datetime64[ns]

# Finding Outliers

In [312]:
# (data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))

outliers_budget = (df['budget'] < (df['budget'].quantile(0.25) - 1.5 * (df['budget'].quantile(0.75) - df['budget'].quantile(0.25)))) | (df['budget'] > (df['budget'].quantile(0.75) + 1.5 * (df['budget'].quantile(0.75) - df['budget'].quantile(0.25))))
print(f'The total amopunt of possible outliers in budget values is: {outliers_budget.sum()}')

outliers_gross = (df['gross'] < (df['gross'].quantile(0.25) - 1.5 * (df['gross'].quantile(0.75) - df['gross'].quantile(0.25)))) | (df['gross'] > (df['gross'].quantile(0.75) + 1.5 * (df['gross'].quantile(0.75) - df['gross'].quantile(0.25))))
print(f'The total amopunt of possible outliers in gross values is: {outliers_gross.sum()}')

The total amopunt of possible outliers in budget values is: 6
The total amopunt of possible outliers in gross values is: 22

# Show the movies with more than 7 in Rating & greater than 50 million Gross

In [313]:
ratingandgross = df[(df['rating'] > 7) & (df['gross'] > 50000000.0)]
print(ratingandgross[['title', 'rating', 'gross']])
print('-----')
ratingandgross.count()

                                   title  rating      gross
1                     Driving Miss Daisy     7.4  145793296
2                         Turner & Hooch     7.2   71079915
3             Born on the Fourth of July     7.2  161001698
4                        Field of Dreams     7.5   84431625
6                When Harry Met Sally...     7.6   92800000
..                                   ...     ...        ...
505                           Big Hero 6     7.8  652105443
506                         Interstellar     8.6  675120017
507  Captain America: The Winter Soldier     7.7  714766572
508       Dawn of the Planet of the Apes     7.6  710644566
509              Guardians of the Galaxy     8.0  773328629

[224 rows x 3 columns]
-----

movie_id        224
title           224
mpaa_rating     224
budget          224
gross           224
release_date    224
genre           224
runtime         224
rating          224
rating_count    224
dtype: int64

In [314]:
df.drop_duplicates()

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5

# Show the movies with more than 7 in Rating & greater than 50 million Gross & MPAA Rating as PG

In [315]:
ratingandgrossandMPAA = df[(df['rating'] > 7) & (df['gross'] > 50000000.0) & (df['mpaa_rating'] == 'PG')]
print(ratingandgrossandMPAA[['title', 'rating', 'gross', 'mpaa_rating']])
print('-----')
print(ratingandgrossandMPAA.count())

                                        title  rating       gross mpaa_rating
1                          Driving Miss Daisy     7.4   145793296          PG
2                              Turner & Hooch     7.2    71079915          PG
4                             Field of Dreams     7.5    84431625          PG
7                          Dead Poets Society     8.1   235860116          PG
13                                     Batman     7.5   411348924          PG
15                         The Little Mermaid     7.6   222300000          PG
16                 Back to the Future Part II     7.8   332000000          PG
19                            Steel Magnolias     7.3    95904091          PG
24                                 Home Alone     7.6   476684675          PG
32                   The Hunt for Red October     7.6   199200000          PG
34                Back to the Future Part III     7.4   244527583          PG
45            Teenage Mutant Ninja Turtles II     8.0    78600000          PG
46                       Beauty and the Beast     8.0   377350553          PG
49     Star Trek VI: The Undiscovered Country     7.2    96900000          PG
72                      A League of Their Own     7.2   107458785          PG
80                              Groundhog Day     8.0    70906973          PG
106                    Star Trek: Generations     8.5   120000000          PG
126                        Mr. Holland's Opus     7.3   106269971          PG
130                                 Apollo 13     7.6   355237933          PG
174                                   Contact     7.4   171120329          PG
185                           The Truman Show     8.1   264118201          PG
188                       The Prince of Egypt     7.1   218613188          PG
215                                    Tarzan     7.3   448000000          PG
220                       Remember the Titans     7.8   136706683          PG
241                                     Shrek     7.8   484409218          PG
255     Harry Potter and the Sorcerer's Stone     7.6   975100000          PG
261                                   Ice Age     7.5   383257136          PG
270   Harry Potter and the Chamber of Secrets     7.4   876688482          PG
304                           The Incredibles     8.0   631442092          PG
309  Harry Potter and the Prisoner of Azkaban     7.9   789804554          PG
311                                   Shrek 2     7.2   919838758          PG
385                             Kung Fu Panda     7.5   631744560          PG
410                        Monsters vs Aliens     7.7   381509870          PG
411                                        Up     8.2   735099082          PG
415    Harry Potter and the Half-Blood Prince     7.6   933959197          PG
420                             Despicable Me     7.6   543513985          PG
425                                  Megamind     7.2   321887208          PG
428                  How to Train Your Dragon     8.1   494878759          PG
435                                   Tangled     7.7   591794936          PG
447          Puss in Boots: The Three Diablos     7.8   555000000          PG
451                           Kung Fu Panda 2     7.2   665692281          PG
461                        Hotel Transylvania     7.1   358375603          PG
466                            Wreck-It Ralph     7.7   471222889          PG
468                                     Brave     7.1   538983207          PG
480                           Despicable Me 2     7.4   970761885          PG
484                                The Croods     7.2   585178928          PG
485                                    Frozen     7.5  1274219009          PG
498                            The Lego Movie     7.8   469160692          PG
503                How to Train Your Dragon 2     7.8   609123048          PG
505                                Big Hero 6     7.8   652105443          PG
-----
movie_id        50
title           50
mpaa_rating     50
budget          50
gross           50
release_date    50
genre           50
runtime         50
rating          50
rating_count    50
dtype: int64

# Show the count of Animation movies with more than 7 in Rating (use the shape() method)

In [316]:
df[((df['genre'] == 'Animation') & (df['rating'] > 7))].count()

movie_id        39
title           39
mpaa_rating     39
budget          39
gross           39
release_date    39
genre           39
runtime         39
rating          39
rating_count    39
dtype: int64

# Show the top 5 movies based on Budget

In [317]:
df.sort_values('budget', ascending=False).head(5)

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

# Show the top 5 Comedy movies by Rating

In [318]:
# csv.sort_values('Budget', ascending=False).head(5)

# csv[('Genre' == 'Comedy')].sort_values('Rating', ascending=False)

#csv_new = csv.sort_values('Rating', ascending=False)
#csv_new[('Genre' == 'Comedy')]

#csv_new = csv[('Genre' == 'Comedy')].sort_values(['Genre', 'Rating'], ascending=False)
#csv_new.head(20)


# Reference csv[((csv['Genre'] == 'Animation') & (csv['Rating'] > 7))].count()


df_new = df[(df['genre'] == 'comedy')].sort_values(['genre', 'rating'], ascending=False)
df_new[['title', 'genre', 'rating']].head(5)

Empty DataFrame
Columns: [title, genre, rating]
Index: []

# Top 5 movie names by Rating

In [319]:
df_new2 = df.sort_values('rating', ascending=False)
df_new2[['title', 'rating']].head()

                                             title  rating
393                                The Dark Knight     9.0
83                                Schindler's List     8.9
287  The Lord of the Rings: The Return of the King     8.9
99                                    Pulp Fiction     8.9
98                               Jurassic Park III     8.9

# Top 3 high Gross Romance movies released after 1999 (typecast it to datetime)

In [320]:

# df[df['release_date'] > datetime.date(1999)]

date1999 = df[df['release_date'].dt.year > 1999]
date1999 = date1999[['title', 'release_date', 'budget']].sort_values('release_date', ascending=True)
print(date1999.head(50))
print('---------')
print(f' The latest release is: {date1999.max()}')

                                                 title release_date     budget
233                                  The Perfect Storm   2000-03-15  120000000
223                                    Erin Brockovich   2000-03-17   52000000
231                                          Gladiator   2000-05-01  103000000
236                                           Dinosaur   2000-05-19  127500000
235                             Mission: Impossible II   2000-05-24  125000000
219                                  Big Momma's House   2000-05-31   30000000
221                                        Chicken Run   2000-06-21   45000000
232                                        The Patriot   2000-06-28  110000000
218                                        Scary Movie   2000-07-07   19000000
226                                              X-Men   2000-07-13   75000000
230                                  What Lies Beneath   2000-07-21  100000000
227                     Nutty Professor II: The Klumps   2000-07-27   84000000
220                                Remember the Titans   2000-09-29   30000000
217                     Crouching Tiger, Hidden Dragon   2000-10-01   17000000
224                                   Meet the Parents   2000-10-06   55000000
229                                   Charlie's Angels   2000-11-02   92000000
234                     How the Grinch Stole Christmas   2000-11-17  123000000
225                                    What Women Want   2000-12-15   70000000
228                                          Cast Away   2000-12-22   90000000
222                                            Traffic   2000-12-27   48000000
246                                           Hannibal   2001-02-08   87000000
238                                           Spy Kids   2001-03-18   35000000
251                                  The Mummy Returns   2001-04-28   98000000
241                                              Shrek   2001-05-16   60000000
256                                       Pearl Harbor   2001-05-21  140000000
253                            Lara Croft: Tomb Raider   2001-06-11  115000000
240                           The Fast and the Furious   2001-06-22   38000000
244                                     Dr. Dolittle 2   2001-06-22   70000000
98                                   Jurassic Park III   2001-07-16   93000000
249                                  Jurassic Park III   2001-07-18   93000000
252                                 Planet of the Apes   2001-07-25  100000000
247                                        Rush Hour 2   2001-08-03   90000000
239                               The Princess Diaries   2001-08-03   37000000
237                                     American Pie 2   2001-08-10   30000000
254                                     Monsters, Inc.   2001-11-01  115000000
255              Harry Potter and the Sorcerer's Stone   2001-11-04  125000000
245                                     Ocean's Eleven   2001-12-07   85000000
243                                        Vanilla Sky   2001-12-10   68000000
242                                   A Beautiful Mind   2001-12-11   60000000
250  The Lord of the Rings: The Fellowship of the Ring   2001-12-18   93000000
248                                    Black Hawk Down   2001-12-28   92000000
257                           My Big Fat Greek Wedding   2002-02-22    5000000
261                                            Ice Age   2002-03-10   59000000
273                                         Spider-Man   2002-05-01  139000000
272       Star Wars: Episode II - Attack of the Clones   2002-05-15  120000000
269                                         Scooby-Doo   2002-06-14   84000000
262                                The Bourne Identity   2002-06-14   60000000
271                                    Minority Report   2002-06-20  102000000
268                                      Lilo & Stitch   2002-06-21   80000000
260                                          Mr. Deeds   2002-06-28   50000000
---------
 The latest release is: title                           xXx
release_date    2019-12-09 00:00:00
budget                    400000000
dtype: object

# 8 How many of each Genre are present in the DataFrame? (use value_counts() method which applies to Series, not DataFrame)

In [321]:
print(csv['Genre'].value_counts())

Genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

# 9 Top 5 most expensive movies released after 1999 (measured by Budget)

In [322]:
date1999_budget = date1999[['title', 'release_date', 'budget']].sort_values('budget', ascending=False)
print(date1999_budget.head(5))

                                           title release_date     budget
594                       Avengers: Infinity War   2018-04-23  400000000
454  Pirates of the Caribbean: On Stranger Tides   2011-05-14  380000000
614                            Avengers: Endgame   2019-04-22  356000000
574                     Star Wars: The Last Jedi   2019-12-09  317000000
573                               Justice League   2017-11-15  300000000

# 10 Most & least frequent MPAA Rating in the dataset in terms of occurrences

In [323]:
csv_rating_count = csv['MPAA Rating'].value_counts()
print(csv_rating_count)
print('--------')
# csv_rating_count['rating_count'] = csv['MPAA Rating'].value_counts()
max_value = csv['MPAA Rating'].value_counts().max()
min_value = csv['MPAA Rating'].value_counts().min()
print(max_value)
print(min_value)
print('--------')
# print(lambda x: csv['MPAA Rating'].value_counts() == 285)

csv_rating_count_formula = csv_rating_count.apply(lambda a: print(f'Most frequent MPAA Rating is {a}') if a == max_value else print(f'Less frequent MPAA Rating is {a}') if a == min_value else print(f'{a} is neither the Least or Most frequent MPAA Rating'))

MPAA Rating
PG-13    285
PG       161
R        142
G         27
Name: count, dtype: int64
--------
285
27
--------
Most frequent MPAA Rating is 285
161 is neither the Least or Most frequent MPAA Rating
142 is neither the Least or Most frequent MPAA Rating
Less frequent MPAA Rating is 27

# 11 Most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)

In [ ]:
# df.groupby('genre')['budget'].mean().sort_values(ascending=True)
df.groupby('genre')['budget'].mean()

genre
Action             1.441682e+08
Adventure          1.338333e+08
Animation          1.158793e+08
Comedy             4.957727e+07
Crime              5.658824e+07
Drama              5.592576e+07
Family             6.268966e+07
Fantasy            1.612111e+08
History            5.550000e+07
Horror             3.700429e+07
Mystery            1.035455e+08
Romance            4.540020e+07
Science Fiction    1.267838e+08
Thriller           8.658537e+07
War                9.075556e+07
Western            7.983333e+07
Name: budget, dtype: float64